@import url("../shared/styles/reset.css");

html {
  font-family: var(--font-sans), sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono), monospace;
}
